<h1>Twoja restauracja</h1>
<div class="app-container" *ngFor="let typeConfig of configs">
  <h2>{{typeConfig.topName}}</h2>
  <app-spinner class="spinner" *ngIf="isSpinnerEnabled(typeConfig.spinnerId)" [spinnerType]="getSpinnerType()" [message]="'Trwa ładowanie...'"></app-spinner>
  <div *ngIf="!isSpinnerEnabled(typeConfig.spinnerId)">
    <h5 *ngIf="typeConfig.menuItems.length === 0">Brak przedmiotów</h5>
    <ul class="menu-item-list" *ngFor="let menuItem of typeConfig.menuItems">
      <app-menu-item [menuItem]=menuItem (deleteMenuItemEvent)="deleteMenuItem($event)" [config]="typeConfig">
      </app-menu-item>
    </ul>
    <button  *ngIf="typeConfig.state === 'AVAILABLE'" class="btn btn-secondary new-item-button" (click)="displayNewEntryModal()">
      <fa-icon [icon]="faPlus"></fa-icon>
      Dodaj nowy przedmiot
    </button>
  </div>
</div>
