<h1>Witaj użytkowniku</h1>
<div class="app-container" *ngFor="let typeConfig of configs">
  <h2>{{typeConfig.topName}}</h2>
  <app-spinner class="spinner" *ngIf="isSpinnerEnabled(typeConfig.spinnerId)" [spinnerType]="getSpinnerType()" [message]="'Loading...'"></app-spinner>
  <div *ngIf="!isSpinnerEnabled(typeConfig.spinnerId)">
    <h5 *ngIf="typeConfig.menuItems.length === 0">No items</h5>
    <ul class="menu-item-list" *ngFor="let menuItem of typeConfig.menuItems">
      <app-menu-item [menuItem]=menuItem [config]="typeConfig">
      </app-menu-item>
    </ul>
  </div>
</div>
