<div class="container">
  <div class="my-5">

    <div class="card my-3 " *ngFor="let restaurant of restaurants">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <h3>{{restaurant.name}}</h3>
              <div class="container p-0">
                <div class="row m-0">
                  <div class="col-1 card-text px-0">
                    <h6><i class="fa-regular fa-clock"></i></h6>
                  </div>
                  <div class="col-11 card-text px-0">
                    <h6> {{restaurant.open}}</h6>
                  </div>
                </div>
                <div class="row m-0">
                  <div class="col-1 card-text px-0">
                    <h6><i class="fa-solid fa-money-bill"></i></h6>
                  </div>
                  <div class="col-11 card-text px-0">
                    <h6> {{restaurant.lowestPrice}} - {{restaurant.highestPrice}}</h6>
                  </div>
                </div>
                <div class="row m-0">
                  <div class="col-1 card-text px-0">
                    <h6><i class="fa-solid fa-gift"></i></h6>
                  </div>
                  <div class="col-11 card-text px-0">
                    <h6> {{restaurant.count}} Boxes</h6>
                  </div>
                </div>
                <div class="row m-0">
                  <div class="col-1 card-text px-0">
                    <h6><i class="fa-regular fa-comment"></i></h6>
                  </div>
                  <div class="col-11 card-text px-0">
                    <h6>{{restaurant.description}}</h6> <!-- TODO dodać zwijanie tekstu -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-8 text-end">
              <img src="https://placekitten.com/700/200" class="rounded"/>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
<!--              todo Łukasz: dorobić rozwijanie i zwijanie listy-->
              <button style="width: 90%" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
                      autocomplete="off">
                <i class="fa-solid fa-angle-down"></i>
              </button>
            </div>
          </div>
          <div class="row">
            <div class = "col d-flex flex-wrap justify-content-center" >
              <div class="card m-2 " *ngFor="let pack of restaurant.packs">
                <div class="card-body d-flex flex-row px-1">
                  <div class="flex-grow-0">
                    <h5 class="card-title font-weight-bold mb-0">{{pack.name}}</h5>
                  </div>
                  <!--TODO zrobić tutaj opis?-->
                </div>
                <div class="container p-0" style="position: relative">
                  <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
                    <img class="img-fluid" src="https://placekitten.com/500/300" alt="Card image cap"/>
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body" style="position: absolute; bottom: 0">
                    <div class="d-flex justify-content-between">
<!--                      todo wpierdzielie tutaj może modala z potwierdzeniem?-->
                      <button type="button" class="btn btn-primary">
                       {{pack.price}} <i class="fa-solid fa-basket-shopping"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
