<li>
  <div class="text-container">
    <h3>{{menuItem?.name}}</h3>
    <h5>{{menuItem?.price}}</h5>
    <h5>{{menuItem?.description}}</h5>
  </div>
  <div *ngFor="let buttonConfig of config?.buttonConfigs">
    <button [class]="buttonConfig.cssClass" (click)="buttonConfig.action(menuItem)">
      {{buttonConfig.text}}
      <fa-icon [icon]="buttonConfig.icon"></fa-icon>
    </button>
  </div>
  <div class="action-icon-container" *ngIf="config?.canBeRemoved">
    <fa-icon class="delete-icon" (click)="deleteMenuItem()" [icon]="faWindowClose"></fa-icon>
  </div>
</li>
